html,
body {
    background-color: rgb(224, 224, 224);
    margin: 0px;
    font-family: Inconsolata !important;
    font-size: 16px;
}

#container {
    display: flex;
    flex-direction: column;

}

#title {
    display: flex;
    margin: 32px auto 32px auto;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    font-size: 290%;
}

#grid {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    max-width: 512px;
    max-height: 512px;

    /* height: 100%; */
    /* flex-grow:1; */
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* width: 100%;
    height: 100%; */
}

.pixel {
    
    display: flex;
    flex-direction: row;

    flex: 1;
    padding-top: 100%;

    width: 100%;
    height: 100%;
    /* max-width: 32px;
    max-height: 32px; */
    background-color: white;
    box-sizing: border-box;
    outline: 1px solid black;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 32px auto 32px auto;
    max-width: 512px;
    justify-content: center;
}

button {
    flex-shrink: 1;
    font-size: 16px;
    min-width: 64px;
    height: 64px;
    font-family: Inconsolata !important;
    outline: 1px solid black;
    border: 0px;
    box-sizing: border-box;
    color: white;
    transition: all 0.2s ease-in-out;
    padding: 0;
}

button:hover {
    outline: 1px solid black;
    z-index: 1;
    transform: scale(1.1);
}


.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
    color: black;
}

.black {
    background-color: black;
}

.rainbow {
    background: linear-gradient(45deg,
            #FE0000 16.66%,
            #FD8C00 16.66%, 33.32%,
            #FFE500 33.32%, 49.98%,
            #119F0B 49.98%, 66.64%,
            #0644B3 66.64%, 83.3%,
            #C22EDC 83.3%);
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;
}

.white,
.clear {
    background-color: white;
    color: black;

}

#footer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.fa-github {
    color: black;
    opacity: 75%;
}

.fa-github:hover {
    color: black;
    transform: scalex(-1);
}











.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }