body {
    background-color: white;
    /* margin: 0px; */
}

#container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
}

.pixel {
    width: 32px;
    height: 32px;
    background-color: white;
    box-sizing: border-box;
    outline: 1px solid black;
}

.black{
    background-color: black;
}
